{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    添加usergroupstatus
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">添加usergroupstatus</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_usergroupstatus_save' %}">
                        {% csrf_token %}


                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}


                        <div class="card-body">
                            <div class="form-group">
                                <label>user_group</label><br>
{#                                <select class="form-control" id="" name="user_group">#}
{#                                    <option value="1">系统管理员</option>#}
{#                                    <option value="2">收样员</option>#}
{#                                    <option value="3">审核员</option>#}
{#                                    <option value="4">检测员</option>#}
{#                                    <option value="5">辅助员</option>#}
{#                                </select>#}
                                <select type="text" class="form-control" name="user_group"  style="text-align: center; text-align-last: center;">
                                       {% for usergroup in usergroups %}
                                           <option value="{{ usergroup.group_name }}" >{{ usergroup.group_name }}</option>
                                       {% endfor %}
                                </select>
<!--                                <input type="text" class="form-control" name="user_group" placeholder="配置名" id="id_user_group">-->
                            </div>
                            <div class="form-group">
                                <label>usergroup_status_values</label>
                                <input type="text" class="form-control" name="usergroup_status_values" placeholder="配置值" id="id_usergroup_status_values">
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">添加usergroupstatus</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}
